.off{
    display: none;
}

.mio_container{
    width: 90%;
    padding: 20px 0;
    margin: 0 auto;
}
.mio_container.slim{
    width: 70%;

}

/* header */



header{
    /* display: flex;
    align-items: center; */
    background-color: rgb(41, 62, 79);
    height: 100px;
}

header .nav-link{
 text-align: end;
}

header .navbar-toggler{
    border-color: gray;
}

header .navbar-toggler:focus{
    box-shadow: none;
}

header .navbar-toggler-icon{
    filter: invert(1);
}


/* tablet */


@media only screen and (min-width:768px){

    .on{
        display: none;
    }

    .off{
        display: block;
    }
    
}
@media only screen and (min-width:992px){

    .mio_container{
        width: 70%;
    }
    .mio_container.slim{
        width: 60%;
    }
    
}

/* fine header */

/* mian */

    /* jumbotron */
    #jumbotron{
        background-color: rgb(0, 190, 157);
    }

    .avatar{
        max-width: 200px;
        /* margin: 0 auto 20px auto; */
    }
    .linea{
        height: 3px;
        width: 15%;
    }

    /* fine jumbotron */


 



    /* about */
    
    #about{
        background-color: rgb(0, 190, 157);
        
    }






    /* fine about */


    /* contact me */

.green{
    background-color: rgb(0, 190, 157);
}


    
    /* fine contact me */


/* fine mian */


/* footer */

footer{
    color: white;
}

footer h5{
    font-size: 16px;
}

    /* footer top */
    #footer_top{
        background-color: rgb(54, 85, 108);
    }



    .circle.little{
        height: 50px;
        width: 50px;

    }


    /* fine footer top */

    /* footer bottom */
    #footer_bottom{
        background-color: rgb(41, 62, 79);
    }

    /* fine footer bottom */


/* fine footer */


