.off{
    display: none;
}

.mio_container{
    width: 90%;
    margin: 0 auto;
}
.mio_container_slim{
    width: 70%;
    margin: 0 auto;
}

/* header */



header{
    display: flex;
    align-items: center;
    background-color: rgb(41, 62, 79);
    height: 100px;
}


/* tablet */


@media only screen and (min-width:768px){

    .on{
        display: none;
    }

    .off{
        display: block;
    }
    
}
@media only screen and (min-width:992px){

    .mio_container{
        width: 70%;
    }
    .mio_container_slim{
        width: 60%;
    }
    
}

/* fine header */

/* mian */

    /* jumbotron */
    #jumbotron{
        background-color: rgb(0, 190, 157);
        padding: 30px 0;
        text-align: center;
    }



    /* fine jumbotron */


    /* portgolio */
    
    #portfolio{
        padding: 30px 0;
    }


    .red{
        background-color: rgb(197	69	99	);
    }
    .azure-green{
        background-color: rgb(0	166	180	);
    }
    .black{
        background-color: rgb(21	15	15	);
    }
    .azure{
        background-color: rgb(0	133	190	);
    }
    .blue{
        background-color: rgb(16	57	176	);
    }
    .gray{
        background-color: rgb(207	177	164	);
    }


    .circle{
        height: 150px;
        width: 150px;
        border-radius: 50%;
        
    }


    /* fine portgolio */




    /* about */
    
    #about{
        background-color: rgb(0, 190, 157);
        padding: 30px 0;
    }






    /* fine about */
/* fine mian */


/* debug */

[class*="col"]{
    background-color: rgba(255, 182, 193, 0.5);
    border: 2px solid yellowgreen;
}



.debug_logo{
    background-color: lightgrey;
    height: 30px;
    width: 250px;
}

.debug_hmenu{
    background-color: lightgrey;
    height: 30px;
    width: 50px;
    margin: 0 0 0 auto;
}

.debug_menu{
    background-color: rgb(89, 87, 87);
    height: 30px;
    width: 150px;
    margin-left: auto;
}

.debug_img{
    height: 100px;
    width: 100px;
    background-color: blue;
    margin: 0 auto 20px auto;
}
.debug_title{
    height: 30px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    margin: 0 auto 20px auto;

}

.debug_line{
    height: 3px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    margin: 0 auto 20px auto;

}
.debug_subtitle{
    height: 15px;
    width: 220px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto 10px auto;

}

.debug_item{
    max-width: 100%;
    height: 200px;
    border-radius: 5px;
    margin: 0 auto 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.debug_txt{
    margin-bottom: 20px;
    color: white;
}


.debug_button{
    height: 30px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    margin: 0 auto 20px auto;

}